.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 107px;
  height: 107px;
  transition: 1s;
}

.Square:focus {
  outline: none;
}

.Square:hover {
  background-color:lightblue;
}

.Active {
  background-color:limegreen;
}

.Circle {
  width: 100%;
  height: 100%;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  animation: draw 1s forwards;
}

.Cross {
  width: 100%;
  height: 100%;
}

.FirstLine {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: draw 0.5s forwards;
}

.SecondLine {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: draw 0.5s 0.5s forwards;
}

@keyframes draw {
  100% {stroke-dashoffset: 0;}
}